COMPOSE_PROJECT_NAME=helloiam-studio-v001
TRAEFIK_HOST=srv1681126.hstgr.cloud
BASIC_AUTH_USER=team
BASIC_AUTH_HASH=$$apr1$$JAN0yMHt$$DjAdVd1UGQ8YQqzyb9gSd/

# News / Trends collectors
EXA_API_KEY=
YOUTUBE_API_KEY=
CRON_SCHEDULE=0 12 * * *
CRON_TZ=Europe/Moscow
